<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="container-fluid">
        <div>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
              
            <li class="nav-item me-2">
                <a class="btn btn-sm btn-outline-danger" href="/" >Anasayfa</a>
              </li>
            <li class="nav-item me-2">
              <a class="btn btn-sm btn-outline-danger" href="/admin/add-product">Ürün Ekle</a>
            </li>
  
          </ul>
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Seçenekler
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/profile"><i class="bi bi-person-square fs-5"></i><span class="p-2">Profil</span></a></li>
              
              <li><a class="dropdown-item" href="/admin/administrators"><i class="bi bi-person-lines-fill fs-5"></i><span class="p-2">Administrators</span></a></li>
            
              <li><hr class="dropdown-divider"></li>
              <li><a class="gb-danger dropdown-item" href="/logout"><i class="bi bi-box-arrow-right fs-5"></i><span class="p-2"> Çıkış Yap</span></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>