<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="container-fluid">
        <div>
        <a class="navbar-brand" href="#">Teknoloji Satış</a>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
            <li class="nav-item me-2">
              <a class="btn btn-sm btn-outline-danger" href="/">Anasayfa</a>
            </li>
            
  
          </ul>
          <a class="btn btn-sm btn-outline-success" href="/admin">Yönetim</a>
          <a class="btn btn-sm btn-outline-success ms-1" href="/admin-login">Admin Giriş Yap</a>
          <a class="btn btn-sm btn-outline-success ms-1" href="/login">Giriş Yap</a>
          <a class="btn btn-sm btn-outline-danger ms-1" href="/logout">Çıkış Yap</a>
        </div>
      </div>
    </div>
  </nav>