<!DOCTYPE html>
<html lang="tr">
    <%-include("./inc/head")%> 
<body>
    <div>
        <%-include("./inc/header")%> 
    </div>
    <div class="text-center fs-1 fw-bold mt-5">
        <p>Sayfa Bulunamadı ...</p>
    </div>
    <div>
        <%- include("./inc/footer") %> 
    </div>
</body>
</html>